<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Gif url:</strong>
  <%= @exercise.gif_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @exercise.video_url %>
</p>

<p>
  <strong>Default reps:</strong>
  <%= @exercise.default_reps %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
